@model IEnumerable<FINAL.Models.Template_2.Skills>

@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Skills</h2>

<p>
    @Html.ActionLink("Create New Skill", "Create", "Skills")
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().SkillName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.SkillName)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SkillId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SkillId })
                </td>
            </tr>
        }
    </tbody>
</table>
