@model FINAL.Models.WorkExperience
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Work Experience</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Years)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Years)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { resumeId = ViewData["ResumeId"] }) |
    @Html.ActionLink("Back to List", "Index", new { resumeId = ViewData["ResumeId"] })
</p>




