@model FINAL.Models.Certification
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h2>Certification Details</h2>

<div>
    <h4>Certification</h4>
    <dl class="dl-horizontal">
        <dt>Certification Name</dt>
        <dd>@Model.CertificationName</dd>
        <dt>Issued By</dt>
        <dd>@Model.IssuedBy</dd>
        <dt>Year</dt>
        <dd>@Model.Year</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>




