@model FINAL.Models.Resume
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Resume Details</h2>

<div>
    <h4>Resume</h4>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Email</dt>
        <dd>@Model.Email</dd>
        <dt>Phone</dt>
        <dd>@Model.Phone</dd>
        <dt>LinkedIn</dt>
        <dd>@Model.LinkedIn</dd>
        <dt>GitHub</dt>
        <dd>@Model.GitHub</dd>
        <dt>Professional Summary</dt>
        <dd>@Model.ProfessionalSummary</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
