@model FINAL.Models.Template_2.Projects

@{
    ViewBag.Title = "Edit Project";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    body {
        background-image: url('https://img.pikbest.com/wp/202344/white-seamless-texture-soft-mink-cotton-wool-background_9929452.jpg!sw800');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-actions {
        margin-top: 20px;
    }

    h2 {
        margin-bottom: 30px;
        text-align: center;
    }
</style>

<h2>Edit Project</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.ProjectTitle)
        @Html.TextBoxFor(model => model.ProjectTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProjectTitle)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 4 })
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Role)
        @Html.TextBoxFor(model => model.Role, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Role)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Outcome)
        @Html.TextBoxFor(model => model.Outcome, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Outcome)
    </div>

    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.ResumeId)

    <div class="form-actions">
        <button type="button" onclick="history.back()" class="btn btn-secondary">Back</button>
        <button type="submit" class="btn btn-primary">Next</button>
    </div>
}
