@model IEnumerable<FINAL.Models.Template_2.Hobbies>

@{
    ViewBag.Title = "Hobbies";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Hobbies</h2>

<p>
    @Html.ActionLink("Create New Hobby", "Create", new { resumeId = ViewBag.ResumeId })
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().HobbyName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.HobbyName)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.HobbyId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.HobbyId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.HobbyId })
                </td>
            </tr>
        }
    </tbody>
</table>
